/*
//////////////////////////////////////////////////////

FREE HTML5 TEMPLATE 
DESIGNED & DEVELOPED by FREEHTML5.CO

//////////////////////////////////////////////////////
*/

@font-face {
    font-family: 'themify';
    src: url("../fonts/themify/themify.eot?-fvbane");
    src: url("../fonts/themify/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify/themify.woff?-fvbane") format("woff"), url("../fonts/themify/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify/themify.svg?-fvbane#themify") format("svg");
    font-weight: normal;
    font-style: normal;
}

html.fh5co-overflow,
body.fh5co-overflow {
    overflow-x: auto;
}

.line-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

html.fh5co-overflow #fh5co-header-section,
html.fh5co-overflow #fh5co-main,
html.fh5co-overflow #fh5co-hero,
html.fh5co-overflow #fh5co-mobile-menu,
html.fh5co-overflow #fh5co-footer,
body.fh5co-overflow #fh5co-header-section,
body.fh5co-overflow #fh5co-main,
body.fh5co-overflow #fh5co-hero,
body.fh5co-overflow #fh5co-mobile-menu,
body.fh5co-overflow #fh5co-footer {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body {
    font-family: "Lato", arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    color: #8b969c;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
        line-height: 1.5;
    }
}

::-webkit-selection {
    color: #ffffff;
    background: #90d7ea;
}

::-moz-selection {
    color: #ffffff;
    background: #90d7ea;
}

::selection {
    color: #ffffff;
    background: #90d7ea;
}

a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #90d7ea;
    border-bottom: 1px solid #ccc;
}

a:hover,
a:focus,
a:active {
    color: #50c0de;
}

a:hover,
a:focus,
a:active {
    outline: none;
    color: #2e2e2e;
    text-decoration: none;
    border-bottom: 1px solid #90d7ea;
}

input {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Heading */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 0 0 20px 0;
    padding: 0;
    color: #000000;
}

h1,
.h1 {
    font-size: 30px;
    line-height: 42px;
}

h2,
.h2 {
    font-size: 26px;
    line-height: 38px;
}

h3,
.h3 {
    font-size: 20px;
    line-height: 32px;
}

h4,
.h4 {
    font-size: 16px;
    line-height: 28px;
}

h5,
.h5 {
    font-size: 14px;
    line-height: 24px;
}

h6,
.h6 {
    font-size: 12px;
    line-height: 24px;
}

ul,
ol {
    padding-left: 15px;
    line-height: 26px;
}

ul ul,
ul ol,
ol ul,
ol ol {
    padding-left: 25px;
}

ul,
ol,
p {
    margin: 0 0 20px 0;
}

.fh5co-serif {
    font-family: "Crimson Text", serif;
}

.fh5co-sans-serif {
    font-family: "Lato", arial, sans-serif;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media screen and (max-width: 480px) {
    .col-xxs-12 {
        display: block;
        clear: both;
        width: 100%;
        float: left;
    }
}

/* Header */

#fh5co-header-section {
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 103;
}

#fh5co-menu-logo {
    clear: both;
}

#fh5co-quick-contacts {
    float: right;
    width: 100%;
    text-align: right;
    margin-top: 2em;
}

#fh5co-quick-contacts .sep {
    padding: 0 .5em;
    color: rgba(255, 255, 255, 0.5);
}

#fh5co-quick-contacts a {
    font-size: 14px;
    padding: 20px 10px;
    color: white;
}

#fh5co-quick-contacts a > i {
    margin-right: 10px;
    margin-top: 5px;
    color: white;
}

#fh5co-quick-contacts a:hover {
    color: white;
}

#fh5co-logo {
    font-size: 20px;
    margin: .9em 0 0 0;
    padding: 0;
    font-weight: 700;
}

#fh5co-logo a {
    border-bottom: none !important;
    color: #ffffff;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#fh5co-logo a:hover {
    opacity: .7;
}

@media screen and (max-width: 768px) {
    #fh5co-logo {
        text-align: center;
        margin: 0px 0 0 0;
        float: none !important;
    }
}

/* Superfish Override Menu */

.sf-menu {
    margin: 0 !important;
}

.sf-menu {
    float: right;
}

.sf-menu ul {
    box-shadow: none;
    border: transparent;
    min-width: 8em;
    *width: 8em;
}

.sf-menu a {
    color: rgba(0, 0, 0, 0.8);
    color: #438192;
    padding: .75em 1em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-left: none;
    border-top: none;
    border-top: none;
    text-decoration: none;
    zoom: 1;
    font-size: 13px;
    border-bottom: none !important;
}

.sf-menu li,
.sf-menu ul li,
.sf-menu ul ul li,
.sf-menu li:hover,
.sf-menu li.sfHover {
    background: transparent;
}

.sf-menu ul li a,
.sf-menu ul ul li a {
    text-transform: none;
    padding: .75em 1em;
    letter-spacing: 1px;
}

.sf-menu li:hover a,
.sf-menu li.sfHover a,
.sf-menu ul li:hover a,
.sf-menu ul li.sfHover a,
.sf-menu li.active a {
    color: #ffffff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
}

.sf-menu ul li:hover,
.sf-menu ul li.sfHover {
    background: transparent;
}

.sf-menu ul li {
    background: transparent;
}

.sf-arrows .sf-with-ul {
    padding-right: 2.5em;
    *padding-right: 1em;
}

.sf-arrows .sf-with-ul:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -3px;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #ccc;
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: #ccc;
}

.sf-arrows ul .sf-with-ul:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    border-left-color: #ccc;
}

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
    border-left-color: #ccc;
}

.thumbnail-trim {
    overflow: hidden;
    width: 300px;
    /* トリミングしたい枠の幅 */
    height: 300px;
    /* トリミングしたい枠の高さ */
    position: relative;
}

.fh5co-special a {
    padding: 0px !important;
    margin-top: 20px;
    background: #f86942;
    padding-left: 20px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-right: 20px !important;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

#fh5co-menu-wrap {
    float: right;
    position: relative;
    margin-right: -20px;
}

#fh5co-menu-wrap .sf-menu a {
    padding: 2em;
}

#fh5co-primary-menu > li > ul li.active > a {
    color: #90d7ea !important;
}

#fh5co-primary-menu > li > .sf-with-ul:after {
    border: none !important;
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    float: right;
    margin-right: 5px;
    top: 50%;
    margin-top: -7px;
    content: "\e64b";
    color: #438192;
}

#fh5co-primary-menu > li > ul li > .sf-with-ul:after {
    border: none !important;
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    float: right;
    margin-right: 10px;
    top: 13px;
    font-size: 12px;
    content: "\e649";
    color: rgba(255, 255, 255, 0.5);
}

#fh5co-primary-menu .fh5co-sub-menu {
    padding: 7px 0 3px;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

#fh5co-primary-menu .fh5co-sub-menu:before {
    position: absolute;
    top: -9px;
    right: 20px;
    width: 0;
    height: 0;
    content: '';
}

#fh5co-primary-menu .fh5co-sub-menu:after {
    position: absolute;
    top: -8px;
    right: 21px;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #90d7ea;
    border-bottom: 8px solid rgba(0, 0, 0, 0.8);
    border-left: 8px solid transparent;
    content: '';
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:before {
    top: 6px;
    right: 100%;
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:after {
    top: 7px;
    right: 100%;
    border: none !important;
}

.site-header.has-image #primary-menu .sub-menu {
    border-color: #ebebeb;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.19);
}

.site-header.has-image #primary-menu .sub-menu:before {
    display: none;
}

#fh5co-primary-menu .fh5co-sub-menu a {
    letter-spacing: 0;
    padding: 0 15px;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff !important;
    text-transform: none;
    background: none;
}

#fh5co-primary-menu .fh5co-sub-menu a:hover {
    color: #90d7ea !important;
}

.fh5co-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
}

.fh5co-nav-toggle.active i::before,
.fh5co-nav-toggle.active i::after {
    background: #2e2e2e;
}

.fh5co-nav-toggle:hover,
.fh5co-nav-toggle:focus,
.fh5co-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}

.fh5co-nav-toggle i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 3px;
    color: #252525;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #252525;
    transition: all .2s ease-out;
}

.fh5co-nav-toggle i::before,
.fh5co-nav-toggle i::after {
    content: '';
    width: 25px;
    height: 3px;
    background: #252525;
    position: absolute;
    left: 0;
    transition: all .2s ease-out;
}

.fh5co-nav-toggle.fh5co-nav-white > i {
    color: #ffffff;
    background: #ffffff;
}

.fh5co-nav-toggle.fh5co-nav-white > i::before,
.fh5co-nav-toggle.fh5co-nav-white > i::after {
    background: #ffffff;
}

.fh5co-nav-toggle i::before {
    top: -7px;
}

.fh5co-nav-toggle i::after {
    bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
    top: -10px;
}

.fh5co-nav-toggle:hover i::after {
    bottom: -10px;
}

.fh5co-nav-toggle.active i {
    background: transparent;
}

.fh5co-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    background: #f86942;
    height: 44px;
    width: 44px;
    border-bottom: none !important;
}

@media screen and (max-width: 768px) {
    .fh5co-nav-toggle {
        display: block;
    }
}

/* Mobile Menu */

#fh5co-mobile-menu {
    -moz-transform: translateX(-275px);
    -webkit-transform: translateX(-275px);
    -ms-transform: translateX(-275px);
    transform: translateX(-275px);
    display: block;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 275px;
    z-index: 10002;
    background: #181920;
    padding: 0.75em 1.25em;
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul {
    padding: 0;
    margin: 0;
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul li {
    list-style: none;
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul li.active > a {
    color: #ffffff;
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul a {
    border-bottom: none !important;
    padding: 7px 0;
    display: block;
    color: #ccc;
    color: rgba(255, 255, 255, 0.5);
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul a:hover {
    color: #ffffff;
    color: white;
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul .fh5co-sub-ddown {
    position: relative;
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul .fh5co-sub-ddown::after {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 0;
    margin-top: 2px;
    content: "\e64b";
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul .fh5co-sub-menu {
    display: none;
    padding-left: 20px;
}

#fh5co-mobile-menu #fh5co-mobile-menu-ul .fh5co-sub-menu li {
    list-style: none;
}

#fh5co-logo-mobile-wrap {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    height: 44px;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10001;
    background: #2b303b;
    color: #ccc;
    -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}

#fh5co-logo-mobile-wrap h1 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

#fh5co-logo-mobile-wrap h1 a {
    border-bottom: none !important;
    color: #ccc;
    letter-spacing: 3px;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    #fh5co-content {
        margin-bottom: 4em;
    }
}

#fh5co-sidebar {
    font-size: 14px;
}

#fh5co-sidebar .sidebar-box {
    margin-bottom: 2em;
    float: left;
    width: 100%;
}

#fh5co-sidebar .sidebar-heading {
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2e2e2e;
    position: relative;
    padding-top: 7px;
}

#fh5co-sidebar .sidebar-heading .border {
    width: 30px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background: #ebebeb;
}

#fh5co-sidebar .sidebar-links {
    padding: 0;
    margin: 0 0 30px 0;
}

#fh5co-sidebar .sidebar-links li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#fh5co-hero {
    background-color: #90d7ea;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    margin-bottom: 10em;
    float: left;
    width: 100%;
    height: 300px;
    display: table;
    position: relative;
    z-index: 20;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    #fh5co-hero {
        background-position: center center;
    }
}

#fh5co-hero:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -40px;
    overflow: visible;
    width: 100%;
    height: 750px;
    background: #90d7ea;
    z-index: -1;
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -o-transform: skewY(-3deg);
    transform: skewY(-3deg);
    background-color: #90d7ea;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/hero6.jpg);
}

#fh5co-hero .fh5co-arrow {
    position: absolute;
    bottom: -70px;
    left: 50%;
    margin-left: -30px;
    display: table;
    color: #ffffff;
    font-size: 24px;
    z-index: 99;
    text-decoration: none;
    width: 60px;
    height: 60px;
    background: #f86942;
    border-bottom: none !important;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}

#fh5co-hero .fh5co-arrow i {
    display: table-cell;
    vertical-align: middle;
}

#fh5co-hero .fh5co-arrow:active,
#fh5co-hero .fh5co-arrow:focus,
#fh5co-hero .fh5co-arrow:hover {
    outline: none;
}

#fh5co-hero .fh5co-hero-wrap {
    padding-top: 15em;
    display: table;
    height: 600px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #fh5co-hero .fh5co-hero-wrap {
        padding-top: 4em;
    }
}

#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro {
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
}

#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro a {
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro a:hover {
    color: white;
    border-bottom: 1px solid white;
    background-image: url(../images/title.jpg);
}

#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h1 {
    font-size: 40px;
    font-weight: normal;
    color: #ffffff;
    background-image: url(../images/title.jpg);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 768px) {
    #fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h1 {
        font-size: 30px;
    }
}

#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h2 {
    letter-spacing: 4px;
    line-height: 1.5;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
    color: #ffffff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 768px) {
    #fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h2 {
        letter-spacing: 3px;
    }
}

#fh5co-hero .fh5co-hero-wrap .btn {
    color: #ffffff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
}

#fh5co-hero .fh5co-hero-wrap .btn:hover,
#fh5co-hero .fh5co-hero-wrap .btn:active,
#fh5co-hero .fh5co-hero-wrap .btn:focus {
    background: #90d7ea;
    border-color: #90d7ea;
}

body.inner-page #fh5co-hero {
    height: 400px;
}

body.inner-page #fh5co-hero:after {
    height: 750px;
}

body.inner-page #fh5co-hero .fh5co-hero-wrap {
    padding-top: 15em;
}

@media screen and (max-width: 768px) {
    body.inner-page #fh5co-hero .fh5co-hero-wrap {
        padding-top: 4em;
    }
}

@media screen and (max-width: 768px) {
    #fh5co-hero,
    .fh5co-hero-wrap {
        position: relative;
        padding: 4em 0 3em 0;
        height: inherit !important;
    }
}

#fh5co-main {
    position: relative;
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 10em;
}

@media screen and (max-width: 768px) {
    #fh5co-main {
        margin-top: 0px;
        padding-top: 20px;
        margin-bottom: 7em;
    }
}

@media screen and (max-width: 768px) {
    body.inner-page #fh5co-main {
        margin-top: 0px;
        padding-top: 20px;
    }
}

#fh5co-hero,
#fh5co-main,
#fh5co-logo-mobile-wrap {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

body.fh5co-mobile-menu-visible #fh5co-hero,
body.fh5co-mobile-menu-visible #fh5co-main,
body.fh5co-mobile-menu-visible #fh5co-logo-mobile-wrap {
    -moz-transform: translateX(275px);
    -webkit-transform: translateX(275px);
    -ms-transform: translateX(275px);
    transform: translateX(275px);
}

body.fh5co-mobile-menu-visible #fh5co-mobile-menu {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#fh5co-works .fh5co-work-item figure {
    margin-bottom: 20px !important;
    float: left;
    width: 100%;
}

#fh5co-works .fh5co-work-item .heading {
    margin-bottom: 40px;
    font-size: 13px;
    color: #a9a9a9;
}

#fh5co-works .fh5co-work-item .fh5co-category {
    font-size: 17px;
    margin-bottom: 10;
    color: #696969;
}

#fh5co-call-to-action {
    clear: both;
    display: block;
    padding: 3em 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    letter-spacing: 7px;
    text-transform: uppercase;
    background: transparent;
    font-size: 16px;
    color: #000000;
}

#fh5co-call-to-action:hover,
#fh5co-call-to-action:focus,
#fh5co-call-to-action:active {
    color: #ffffff;
    background: #f86942;
    border-top: 1px solid #f86942;
    border-bottom: 1px solid #f86942;
}

#fh5co-footer {
    clear: both;
    position: relative;
    padding: 4em 0 1em 0;
    background: #90d7ea;
    background: #f3f8f9;
    float: left;
    width: 100%;
    font-size: 13px;
    line-height: 20px;
}

#fh5co-footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: -4em;
    overflow: hidden;
    width: 100%;
    height: 350px;
    background: #90d7ea;
    background: #f3f8f9;
    z-index: -1;
    -webkit-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -o-transform: skewY(3deg);
    transform: skewY(3deg);
}

#fh5co-footer .fh5co-arrow {
    position: absolute;
    top: -84px;
    left: 50%;
    margin-left: -30px;
    display: table;
    color: #ffffff !important;
    font-size: 24px;
    z-index: 99;
    text-decoration: none;
    width: 60px;
    height: 60px;
    background: #f86942;
    border-bottom: none !important;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}

#fh5co-footer .fh5co-arrow i {
    display: table-cell;
    vertical-align: middle;
}

#fh5co-footer .fh5co-arrow:active,
#fh5co-footer .fh5co-arrow:focus,
#fh5co-footer .fh5co-arrow:hover {
    outline: none;
    color: #ffffff !important;
}

#fh5co-footer .fh5co-copyright {
    margin-top: 5em;
}

#fh5co-footer .fh5co-footer-heading {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ccc;
    margin-bottom: 10px;
}

#fh5co-footer .fh5co-footer-links {
    padding: 0;
    margin: 0 0 30px 0;
}

#fh5co-footer .fh5co-footer-links li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.quote {
    width: 80%;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 300;
    line-height: 38px;
}

.quote cite {
    margin-top: 20px;
    display: block;
    font-size: 20px;
    font-style: normal;
}

@media screen and (max-width: 768px) {
    .quote {
        font-size: 20px;
        width: 100%;
    }
}

/* Helper Classes */

/* Spacer */

.fh5co-spacer {
    clear: both;
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
}

.fh5co-spacer-xlg {
    height: 150px;
}

@media screen and (max-width: 768px) {
    .fh5co-spacer-xlg {
        height: 70px;
    }
}

.fh5co-spacer-lg {
    height: 100px;
}

@media screen and (max-width: 768px) {
    .fh5co-spacer-lg {
        height: 50px;
    }
}

.fh5co-spacer-md {
    height: 80px;
}

@media screen and (max-width: 768px) {
    .fh5co-spacer-md {
        height: 30px;
    }
}

.fh5co-spacer-sm {
    height: 50px;
}

@media screen and (max-width: 768px) {
    .fh5co-spacer-sm {
        height: 20px;
    }
}

.fh5co-spacer-xs {
    height: 30px;
}

@media screen and (max-width: 768px) {
    .fh5co-spacer-xs {
        height: 20px;
    }
}

.fh5co-spacer-xxs {
    height: 20px;
}

.fh5co-letter-spacing {
    letter-spacing: 1px;
}

.fh5co-no-margin-bottom {
    margin-bottom: 0 !important;
}

.fh5co-uppercase-heading-sm {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ccc;
}

.form-group {
    margin-bottom: 30px;
}

.image-popup:hover {
    opacity: .7;
}

.fh5co-section-heading .fh5co-lead {
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
}

.fh5co-section-heading .fh5co-lead > .fh5co-line {
    height: 2px;
    display: block;
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    background: rgba(0, 0, 0, 0.3);
}

.fh5co-section-heading .fh5co-sub {
    font-size: 18px;
}

/* 
========================================

Components 

========================================
*/

/* Buttons */

.btn {
    border-bottom: none !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
}

.btn:hover,
.btn:focus,
.btn:active {
    box-shadow: none;
    outline: none !important;
    border-color: transparent;
}

.btn.fh5co-btn-icon {
    text-transform: none !important;
    letter-spacing: normal !important;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-outline {
    border: 2px solid #eaeaea !important;
    background: transparent;
    color: #2a2e37;
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus {
    border: 2px solid #f86942 !important;
    background: #f86942 !important;
    color: #ffffff;
}

.btn-primary {
    background: #90d7ea;
}

.btn-success {
    background: #00e195;
}

.btn-danger {
    background: #e02745;
}

.btn-info {
    background: #0bbff2;
}

.btn-warning {
    background: #ffd042;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
    border-color: transparent;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
    background: #282e3c;
    color: #ffffff;
}

.form-control {
    box-shadow: none !important;
    border: 2px solid #ccc;
}

.form-control:hover,
.form-control:focus,
.form-control:active {
    outline: none;
    box-shadow: none !important;
    border: 2px solid #90d7ea;
}

.js .to-animate,
.js .feature-box,
.js .work-box,
.js .footer-box,
.js .animate-box {
    opacity: 0;
}

/* Features*/

#fh5co-features .fh5co-feature {
    margin-bottom: 30px;
}

#fh5co-features .fh5co-feature .heading {
    font-size: 18px;
    margin: 0;
    font-weight: normal;
    color: #2e2e2e;
}

#fh5co-features .fh5co-feature-icon {
    margin: 0 auto 2em auto;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#fh5co-features .fh5co-feature-icon i {
    vertical-align: middle;
    font-size: 50px;
    color: #90d7ea;
}

/* Header */

.fh5co-header {
    text-align: center;
}

.fh5co-header .fh5co-heading {
    font-weight: bold;
    font-size: 45px;
    line-height: 57px;
}

@media screen and (max-width: 768px) {
    .fh5co-header .fh5co-heading {
        font-size: 30px !important;
        line-height: 42px !important;
    }
}

.fh5co-header .fh5co-heading-sub {
    color: #777;
    font-size: 18px;
    line-height: 30px;
}

/* Easy Rsponsive Tabs */

.fh5co-tab {
    clear: both;
    display: block;
}

.resp-tab-active {
    color: #90d7ea;
}

.resp-content-active,
.resp-accordion-active {
    display: block;
}

.fh5co-tab-menu-icon {
    font-size: 20px;
    position: relative;
    float: left;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .fh5co-tab-menu-icon {
        margin-top: 7px;
    }
}

#fh5co-feature-slider .fh5co-item-slide-text {
    margin-top: 1em;
}

#fh5co-feature-slider .fh5co-item-slide-text > h2 {
    position: relative;
    padding-bottom: 20px;
}

#fh5co-feature-slider .fh5co-item-slide-text > h2 span {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 3px;
    background: #ccc;
    background: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 992px) {
    #fh5co-feature-slider .fh5co-item-slide-text {
        margin-top: 0em;
    }
}

@media screen and (max-width: 768px) {
    #fh5co-feature-slider .fh5co-item-slide-text {
        margin-top: 0em;
    }
}

@media screen and (max-width: 480px) {
    #fh5co-feature-slider .fh5co-item-slide-text {
        margin-top: 0em;
    }
}

#fh5co-testimonial {
    padding: 10em 0;
    background: #000 url(../images/hero2.jpg) no-repeat center center;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    #fh5co-testimonial {
        padding: 3em 0;
    }
}

#fh5co-testimonial blockquote {
    padding-left: 0;
    width: 70%;
    margin: 0 auto;
    color: #ffffff;
    border-left: none;
    font-size: 45px;
    line-height: 57px;
}

@media screen and (max-width: 768px) {
    #fh5co-testimonial blockquote {
        width: 100%;
        font-size: 35px;
        line-height: 47px;
    }
}

#fh5co-testimonial blockquote p {
    text-align: center;
    color: #ffffff;
}

#fh5co-testimonial .fh5co-testimonial-author {
    font-size: 18px;
}

#fh5co-testimonial .fh5co-uppercase-heading-sm {
    color: #ffffff;
}

/* Accordions */

.fh5co-accordion .panel-title > a {
    border-bottom: none !important;
}

.fh5co-accordion .panel-title > a:hover {
    border-bottom: none !important;
}

.fh5co-accordion .panel-heading {
    background: transparent;
    position: relative;
    cursor: pointer;
}

.fh5co-accordion .panel-heading .accordion-toggle {
    color: #90d7ea;
}

.fh5co-accordion .panel-heading .accordion-toggle:after {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2e2e2e !important;
    position: absolute;
    content: "\e622";
    right: 15px;
    top: 16px;
}

.fh5co-accordion .panel-heading.collapsed .accordion-toggle {
    color: #2e2e2e !important;
}

.fh5co-accordion .panel-heading.collapsed .accordion-toggle:after {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2e2e2e !important;
    position: absolute;
    content: "\e61a";
    right: 15px;
    top: 16px;
}

/* Progress Bars */

.progress {
    height: 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

.progress-bar {
    box-shadow: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

.progress-bar.progress-bar-default {
    background: #90d7ea;
}

.progress-bar.progress-bar-success {
    background: #00e195;
}

.progress-bar.progress-bar-info {
    background: #0bbff2;
}

.progress-bar.progress-bar-warning {
    background: #ffd042;
}

.progress-bar.progress-bar-danger {
    background: #e02745;
}

/* Social Icons */

.fh5co-social-icons {
    padding: 0;
}

.fh5co-social-icons li {
    list-style: none;
    display: inline;
    display: inline-block;
}

.fh5co-social-icons li a {
    height: 40px;
    width: 40px;
    border: 1px solid #ebebeb;
    display: table;
    text-align: center;
    color: #2e2e2e;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.fh5co-social-icons li a:hover {
    background: #f86942;
    border: 1px solid #f86942 !important;
    color: #ffffff !important;
}

.fh5co-social-icons li i {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
}

/* Pricing Tables */

@media screen and (max-width: 992px) {
    .fh5co-pricing-table-1 .fh5co-pricing-table-item {
        margin-bottom: 20px !important;
    }
}

@media screen and (max-width: 768px) {
    .fh5co-pricing-table-1 .fh5co-pricing-table-item {
        margin-bottom: 20px !important;
        float: left;
        width: 100%;
    }
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body,
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading {
    text-align: center;
    float: left;
    width: 100%;
    padding: 1em 2em;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading {
    background: #90d7ea;
    color: #ffffff;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 {
    font-size: 70px;
    position: relative;
    display: inline-block;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 sup {
    position: absolute;
    top: 2px;
    margin-left: -7px;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 sup,
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 span {
    font-size: 14px;
    text-transform: uppercase;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item.fh5co-best-offer .fh5co-pricing-table-item-heading {
    background: #90d7ea;
    color: #ffffff;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body {
    border: 2px solid #ccc;
    border-top: none;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body ul {
    padding: 0;
    margin: 0;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body ul li {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.fh5co-pricing-table-1 .fh5co-pricing-table-item.fh5co-best-offer .fh5co-pricing-table-item-body {
    border: 2px solid #90d7ea;
    border-top: none;
}

/* Nav Links */

.fh5co-nav-links ul {
    padding: 0;
    margin: 0;
}

.fh5co-nav-links ul li {
    padding: 0;
    margin: 0 0 .5em 0;
    list-style: none;
}

.fh5co-nav-links ul li.active a {
    color: #2e2e2e;
    border-bottom: 2px solid #90d7ea;
}

/* Owl Override Style */

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
    margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    top: 50%;
    margin-top: -29px;
    z-index: 9999;
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: -40px;
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
    margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: -40px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
    margin-left: -10px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: -50px;
}

@media screen and (max-width: 768px) {
    .owl-carousel-posts .owl-controls .owl-nav .owl-next {
        right: 0px;
    }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: -50px;
}

@media screen and (max-width: 768px) {
    .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
        left: 0px;
    }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
    color: #2e2e2e;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
    color: #000000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
    color: #ffffff;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .owl-theme .owl-controls .owl-nav {
        display: none;
    }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
    background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
    font-size: 30px;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover,
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
    background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover,
.owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
    background: none !important;
}

.owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
    bottom: 0;
    margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    background: #90d7ea;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: 2px solid transparent;
}

.owl-theme .owl-dots .owl-dot span:hover {
    background: none;
    border: 2px solid #90d7ea;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: none;
    border: 2px solid #90d7ea;
}

/* Image Alignment */

img.fh5co-align-right {
    float: right;
    margin: 0 0 .5em 1em;
}

@media screen and (max-width: 480px) {
    img.fh5co-align-right {
        width: 100%;
        margin: 0 0 .5em 0;
    }
}

img.fh5co-align-left {
    float: left;
    margin: 0 1em .5em 0;
}

@media screen and (max-width: 480px) {
    img.fh5co-align-left {
        width: 100%;
        margin: 0 0 .5em 0;
    }
}

img.fh5co-align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a > img.fh5co-align-right {
    float: right;
    margin: 0 0 .5em 1em;
}

@media screen and (max-width: 480px) {
    a > img.fh5co-align-right {
        width: 100%;
        margin: 0 0 .5em 0;
    }
}

a > img.fh5co-align-left {
    float: left;
    margin: 0 1em .5em 0;
}

@media screen and (max-width: 480px) {
    a > img.fh5co-align-left {
        width: 100%;
        margin: 0 0 .5em 0;
    }
}

a > img.fh5co-align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*# sourceMappingURL=style.css.map */
